body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: white; 
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 80%; 
    margin: 0 auto; 
}

.name {
    font-family: 'Brush Script MT', cursive;
}

.navigation {
    text-align: right; 
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline;
    margin-left: 20px; 
}

.navigation a {
    text-decoration: none;
    color: black;
    transition: color 0.3s; 
}

.navigation a:hover {
    color: #005d5d; 
}

main {
    background: linear-gradient(to bottom, #005d5d, #009999, white); 
    padding: 20px;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 80px auto; 
}

.image {
    flex: 1;
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
    width: 95%; 
}

.image p {
    font-size: 14px;
    color: black; 
    text-align: center;
}
